:root {
    --primary-font: 'Raleway Thin', sans-serif;
    /* Text colors */
    --main-txt-cl: rgb(134, 146, 139);
    --secondary-txt-cl: rgb(44, 45, 53);
    --accent-txt-cl: rgb(89, 141, 102);
    /* Bg colors */
    --main-bg-cl: rgb(244, 246, 245);
    --secondary-bg-cl: rgb(225, 237, 230);
    --main-svg-cl: rgb(89, 141, 102);
    /* Others */

}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 100;
    line-height: 150%;
    color: var(--main-txt-cl);
    background-color: var(--main-bg-cl);
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    color: currentColor;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

Button {
    Font-family: inherit;
    Color: currentColor;
    Cursor: pointer
}



/* Reset end */

.container {
    Width: 1140px;
    Margin-left: auto;
    Margin-right: auto;
    Padding-left: 15px;
    Padding-right: 15px;

    Outline: 2px solid red;
    Outline-offset: -2px;
}

/**
  |============================
  | Header styles
  |============================
*/

.header {
    background-color: var(--secondary-bg-cl);
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.container {}

.header-logo {}

.header-logo-link {
    display: flex;
    gap: 8px;
    align-items: center;

}

.header-logo-svg {
    fill: var(--main-svg-cl);
}

.header-logo-txt {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--main-svg-cl);
}

.header-nav {}

.header-nav-list {
    display: flex;
    gap: 60px;
    align-items: center;
}


.header-nav-item {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--secondary-txt-cl);
}

.header-nav-link {}

.header-nav-svg {
    fill: var(--secondary-txt-cl);
}