:root {
    --primary-font: 'Raleway Thin', sans-serif;
    /* Text colors */
    --main-txt-cl: rgb(134, 146, 139);
    --secondary-txt-cl: rgb(44, 45, 53);
    --accent-txt-cl: rgb(89, 141, 102);
    /* Bg colors */
    --main-bg-cl: rgb(244, 246, 245);
    --secondary-bg-cl: rgb(225, 237, 230);
    --main-svg-cl: rgb(89, 141, 102);
    /* Others */
    --btn-bg-cl: rgb(212, 232, 217);

    --header-idx: 10;
    --modal-idx: 100;

    --anim-fast: 400ms ease-in;

}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 100;
    line-height: 150%;
    color: var(--main-txt-cl);
    background-color: var(--main-bg-cl);
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    color: currentColor;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

li:last-child {
    margin-bottom: 0
}

button {
    Font-family: inherit;
    Color: currentColor;
    Cursor: pointer
}

.page-box {
    overflow: hidden;
}


/* Reset end */
.section {
    margin-bottom: 70px;
}

.container {
    /* Phone styles & > */
    min-width: 320px;
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 2px solid red;
    outline-offset: -2px;
}
/* Tablet 510 styles & > */
@media only screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

/* Tablet 690 styles & > */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Desktop styles & > */
@media only screen and (min-width: 1140px) {
    .container {
        max-width: 1140px;
    }
}


/**
  |============================
  | Header styles
  |============================
*/
.header {
    position: fixed;
    width: 100%;
    z-index: var(--header-idx);
    background-color: var(--secondary-bg-cl);
}



.header-container {
    padding: 16px 0;
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }
}

.header-logo {
    padding: 17px 0;
}

.header-logo-link {
    display: flex;
    gap: 8px;
    align-items: center;

}

.header-logo-svg {
    fill: var(--main-svg-cl);
}

.header-logo-txt {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--main-svg-cl);
}

.header-nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    align-items: center; 
    
}


.header-nav-item {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--secondary-txt-cl);

    transition: color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media only screen and (max-width: 575px) {
  .header-nav-item:not(:last-child) {
    display: none;
  }
} 




.header-nav-item:hover {
    color: rgb(89, 141, 102);
}

.header-nav-link {
    position: relative;
}

.header-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 4px;
}


.header-nav-link.current {
    color: rgb(55, 107, 68);
    transition: color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.header-nav-link.current::after,
.header-nav-link:hover::after,
.header-nav-link:focus::after {
    background-color: var(--main-svg-cl);
    transition: background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.header-nav-link:focus {
    background-color: rgb(212, 232, 217);
    transition: background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header-nav-svg:hover {
    fill: rgb(89, 141, 102);
}

.header-nav-svg:hover {
    fill: rgb(89, 141, 102);
    background-color: rgb(212, 232, 217);
}


/**
  |============================
  | Hero styles
  |============================
*/

.hero {
    padding-top: 100px;
}

.hero-box {
    display: flex;
    gap: 30px;
}

.hero-content {
    margin-top: 145px;
}

.hero-title {
    font-size: 60px;
    font-weight: 100;
    line-height: 110%;
}

.hero-title-accent {
    color: var(--accent-txt-cl);
}

.hero-desc {
    font-size: 18px;
    font-weight: 100;
    line-height: 150%;
    margin-bottom: 60px;
}

.hero-btn {
    width: 223px;
    height: 65px;
    border: 1px solid rgb(89, 141, 102);

    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    background-color: transparent;
    color: var(--accent-txt-cl);

    transition: background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-btn:hover {
    background-color: rgb(89, 141, 102);
    color: rgb(244, 246, 245);
}

.hero-btn:focus {
    background-color: rgb(212, 232, 217);
    border: 1px solid rgb(89, 141, 102);
    color: rgb(89, 141, 102);
}

/**
  |============================
  | Catalog styles
  |============================
*/

.catalog-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.catalog-box-title {
    font-size: 40px;
    font-weight: 100;
    line-height: 110%;
    color: var(--secondary-txt-cl);
}

.catalog-box-list {
    display: flex;
    gap: 32px;
}

.catalog-box-item {
    border-radius: 20px;
    background-color: var(--btn-bg-cl);

    transition: background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.catalog-box-item:hover {
    border-radius: 20px;
    background-color: rgb(89, 141, 102);
    color: rgb(244, 246, 245);

}

.catalog-box-item:focus {
    border: 2px solid rgb(89, 141, 102);
    border-radius: 20px;
    background-color: rgb(212, 232, 217);

}

.catalog-box-link {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    padding: 10px 20px;
}

.catalog-content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.catalog-content-item {
    width: 350px;
    height: 730px;
    background-color: var(--secondary-bg-cl);
}

.catalog-content-box {
    position: relative;
    padding: 20px 20px 30px;
}

.catalog-box-info {
    position: relative;
    overflow: hidden;
}

.catalog-img {
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: rgb(240, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    transition: transform 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.catalog-content-item:hover .overlay {
    transform: translateY(0);
}

.overlay-label {}

.catalog-uppertitle {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.2x;

    margin-bottom: 10px;
}

.catalog-title {
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--secondary-txt-cl);

    margin-bottom: 8px;
}

.catalog-desc {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--secondary-txt-cl);

    margin-bottom: 30px;

}

.catalog-price {
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    color: var(--accent-txt-cl);

    margin-bottom: 20px;
}

.catalog-btn {
    width: 310px;
    height: 65px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(89, 141, 102);

    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--accent-txt-cl);

    transition: color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.catalog-btn:hover {
    background-color: rgb(89, 141, 102);
    color: rgb(244, 246, 245);
}

.catalog-btn:focus {
    background-color: rgb(212, 232, 217);
    border: 1px solid rgb(89, 141, 102);
    color: rgb(89, 141, 102);
}


/**
  |============================
  | Promo styles
  |============================
*/
.promo {
    background-image: url(../images/promo/promo_fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo-container {
    height: 574px;
    position: relative;
}

.promo-container::before {
    content: '';
    display: block;
    filter: blur(315px);
    background-color: rgba(13, 43, 67, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

.promo-container-uppertitle {
    display: flex;
    gap: 20px;
    padding: 70px 0 20px;
}

.promo-content {
    position: relative;
}

.promo-svg {
    fill: rgb(238, 219, 109);
}

.promo-title {
    width: 421px;
    height: 80px;
    font-size: 40px;
    font-weight: 100;
    line-height: 100%;
    color: var(--main-bg-cl);
}

.promo-desc {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 209px;
    font-size: 18px;
    font-weight: 100;
    line-height: 150%;
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
}

.promo-btn {
    position: relative;
    width: 252px;
    height: 65px;
    background-color: rgb(238, 219, 109);
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--secondary-txt-cl);

    transition: background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.promo-btn:hover {
    background-color: rgb(250, 235, 151);

}

.promo-btn:focus {
    background: rgb(250, 235, 151);
    border: 1px solid rgb(163, 131, 20);
}

/**
  |============================
  | Team styles
  |============================
*/

.team-container {
    display: flex;
    gap: 30px;
}

.team-content {
    padding-top: 124px;
}

.team-title {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 100;
    line-height: 110%;
    color: var(--secondary-txt-cl);

}

.team-desc {
    height: 108px;
    margin-bottom: 20px;
    color: var(--secondary-txt-cl);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
    /* height: 168px; */
    background-color: var(--secondary-bg-cl);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
}

.footer-contactbox-logo {
    margin-bottom: 35px;
}

.footer-phone {
    margin-bottom: 8px;
}

.footer-list-box {
    display: flex;
    gap: 60px;
}

.footer-iteam {
    margin-bottom: 6px;
}

.footer-link {
    transition: color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.footer-link:hover {
    color: rgb(89, 141, 102);
}

.footer-link:focus {
    background-color: rgb(212, 232, 217);
    color: rgb(89, 141, 102);
}

.footer-iteam:first-child {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--secondary-txt-cl);
}

.footer-social-list {
    display: flex;
    gap: 32px;
    margin-bottom: 10px;
}

.footer-social-svg {
    transition: fill 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.footer-social-svg:hover {
    fill: rgb(89, 141, 102);
}

.footer-social-svg:focus {
    background-color: rgb(212, 232, 217);
    fill: rgb(89, 141, 102);
}

.footer-desc {
    font-size: 12px;
    font-weight: 100;
    line-height: 120%;
}

/**
  |============================
  | Modal styles
  |============================
*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--modal-idx);

    width: 100%;
    height: 100%;

    background-color: rgba(17, 19, 25, 0.2);
    backdrop-filter: blur(4px);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity 200ms ease, visibility 200ms ease, backdrop-filter 200ms ease;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    backdrop-filter: blur(0);

    transition-delay: 400ms;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;

    width: 450px;
    min-height: 550px;
    padding: 24px;

    background-color: var(--secondary-bg-cl);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    transition: transform 400ms ease-in 200ms, opacity 400ms ease-in 200ms;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(360deg) scale(0.2);
    opacity: 0;
}

.modal-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    color: var(--secondary-bg-cl);
    fill: black;

    background-color: var(--secondary-bg-cl);
    border-radius: 50%;
    border: none;

    cursor: pointer;

    transition: var(--anim-fast);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: rgb(134, 146, 139, 0.4);
}

.modal-title {
    display: block;
    margin-bottom: 14px;

    font-size: 16px;
    text-align: center;
}

.modal-form-label {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;

    transition: var(--anim-fast);
}

/* .modal-form:focus-within .modal-form-label {
    color: #ff6c00;
  } */
.modal-form-field {
    position: relative;
    margin-bottom: 10px;
}

.modal-form-input {
    width: 100%;
    height: 46px;
    padding: 0 38px;

    border: 1px solid var(--main-bg-cl);
    border-radius: 6px;
    outline: 2px solid transparent;
    outline-offset: -2px;

    transition: var(--anim-fast);
}

.modal-form-input:focus {
    outline-color: var(--main-svg-cl);
    box-shadow: 0 0 0 4px rgba(11, 101, 76, 0.124);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: var(--anim-fast);
    pointer-events: none;
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--main-svg-cl);
}

.modal-form-message {
    margin-bottom: 20px;

    display: block;
    width: 100%;
    min-height: 120px;
    max-height: 180px;
    padding: 10px;

    font-size: 12px;
    border: 1px solid var(--main-bg-cl);
    border-radius: 6px;
    outline: 2px solid transparent;
    outline-offset: -2px;

    transition: var(--anim-fast);

    resize: vertical;
    /* resize: none; */
}

.modal-form-message::placeholder {
    color: #9da4bd;
}

.modal-form-message:focus {
    outline-color: var(--main-svg-cl);
    box-shadow: 0 0 0 4px hwb(163 4% 60% / 0.124);
}

.modal-form-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-bottom: 20px;
}

.modal-form-agreement-box {
    appearance: none;
    width: 18px;
    height: 18px;

    border: 2px solid var(--main-bg-cl);
    border-radius: 2px;

    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;

    transition: background-color var(--anim-fast), border-color var(--anim-fast),
        background-size var(--anim-fast) 250ms;
    cursor: pointer;
}

.modal-form-agreement-box:checked {
    background-color: var(--main-svg-cl);
    border-color: var(--secondary-bg-cl);
    background-size: 10px;

    transition-delay: 250ms;
}

.modal-form-agreement-text {
    font-size: 14px;
}

.modal-form-agreement-link {
    color: var(--accent-txt-cl);
}

.modal-btn {
    display: block;
    margin: 0 auto;

    width: 150px;
    height: 35px;
    border: 1px solid rgb(89, 141, 102);

    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    background-color: transparent;
    color: var(--accent-txt-cl);

    transition: background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.modal-btn:hover {
    background-color: rgb(89, 141, 102);
    color: rgb(244, 246, 245);
}

.modal-btn:focus {
    background-color: rgb(212, 232, 217);
    border: 1px solid rgb(89, 141, 102);
    color: rgb(89, 141, 102);
}

/**
  |============================
  | Mobile menu styles
  |============================
*/



.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    /* align-items: center; */
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 576px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.position-menu {
    position: absolute;
    top: 0;
    transform: translateY(84px);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.mobile-text {
    margin-bottom: auto;
}

.mobile-contacts {
    

}